<h1>Bird Records</h1>

<div class="addNewSighting">

  <h3>Add new bird</h3>

  <div class="messages">
    {{#each messages.error}}
      <p class="error_msg">{{this}}</p>
    {{/each}}
  </div>
<!-- client side validation-->
  <form action="/" method="POST">
    Name: <input name="name" type="text" required>
    <br>
    Description: <input name="description" type="text">
    <br>
    Average Eggs Laid: <input name="averageEggsLaid" type="number" min="1" max="50">
    <br>
    Threatened? <input name="threatened" type="checkbox">
    <br>
    Nest location: <input name="nestLocation" type="text">
    <br>
    Nest materials: <input name="nestMaterials" type="text">
    <br>
    Date seen: <input name="dateSeen" type="datetime-local">
    <br>
    <input name="addBird" type="submit" value="Add new sighting">
    <br>
  </form>

</div>




<h3>All sightings</h3>

    <ul>
        {{# each birds}}
            <li>
                <a href="/details/{{this._id}}">{{this.name}}</a>
            </li>
        {{/each}}
    </ul>






